fastapi
uvicorn
streamlit

langchain
langchain-core
langchain-community

chromadb

sentence-transformers
transformers
torch

groq

rank-bm25

pdfplumber

tiktoken

python-dotenv

numpy
pandas

pydantic